.mainContainer {
    display: flex;
    width: 90vw; /* 90% of the viewport width */
    height: 100vh; /* Full height of the viewport */
    max-height: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
    margin: 0 50px; /* Center the container horizontally */
}

.leftContainer {
    width: 75%; /* Occupies 75% of the popup container width */
    padding: 20px ;
    height: 140vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* Evenly space elements */
}


.videoContainer {
    width: 100%;
    height: 90%; /* Adjusted height to 80% */
    position: relative;
    background-color: red; /* Placeholder for video */
    margin-bottom: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid yellow;
}

.startRecordingButton {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
}

.startRecordingButton:hover {
    background-color: #218838;
}

.questionContainer {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #ccc;
    border-radius: 10px;
    text-align: center;
}

.answerInputContainer {
    margin-bottom: 20px;
}

.answerInput {
    width: 100%;
    height: 80px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}

.buttonGroup {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.submitButton,
.skipButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.submitButton {
    background-color: #007BFF;
}

.submitButton:hover {
    background-color: #0056b3;
}

.skipButton {
    background-color: #FF6347;
}

.skipButton:hover {
    background-color: #CC5237;
}

.rightContainer {
    width: 25%; /* Occupies 25% of the popup container width */
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}


.countdownTimer {
    margin-bottom: 10px; /* Maintain 10px gap below the timer */
    font-size: 18px;
}

.webcamContainer {
    width: 95%;
    height: 150px; 
    border-radius: 10px;
    margin-bottom: 0px;
    overflow: hidden; /* Ensure content respects the border-radius */
}

.webcamTitle {
    margin-bottom: 0px;
    font-size: 18px;
    text-align: center;
}

.exitButton {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.exitButton:hover {
    background-color: #0056b3;
}
